# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=decknews
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5430/decknews?schema=public"

# App
NODE_ENV="development"
PORT=3000
